@import "../../styles/colors";

.relation-card {
  .relation-card-head {
    display: flex;
    flex-direction: row;
    align-items: center;

    .relation-card-back-button {
      cursor: pointer;
      padding-right: 2rem;
      font-size: 4rem;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
