/*
  Color variables come here. 
*/

// Theme colors
$primary: #258536;

// Grays
$black: #000000;
$gray900: #222;
$gray800: #333;
$gray500: #777;
$gray300: #ccc;
$gray100: #f5f5f5;
$white: #ffffff;

// Red
$red800: #933;
$red500: #f00;
