/*
  Styling variables come here. (excluding colors). Large scale projects mostly need more sophisticated.
  For example we can break this file to Typography, Media Queries, Spacing, Sizes, Layers, etc. 
*/

// Font sizes
$font-size-xs: 0.5rem;
$font-size-s: 0.85rem;
$font-size-m: 1rem;
$font-size-l: 1.25rem;
$font-size-xl: 3rem;

// Media queries
$media-xxs: 360px;
$media-xs: 640px;
$media-s: 768px;
$media-m: 1024px;
$media-l: 1280px;
$media-xl: 1440px;
