.relations-list {
  table {
    border-spacing: 2px;
    text-align: left;
    width: 100%;
    cursor: pointer;

    thead {
      background-color: #666;
    }

    tbody {
      tr:hover {
        background-color: #444;
      }
    }

    td,
    th {
      color: white;
      font-weight: 300;
      padding: 0.5rem 1rem;
    }
  }
}

.relation-card {
  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;

    .back-button {
      cursor: pointer;
      font-size: 4rem;
      &:hover {
        color: #ccc;
      }
    }
  }

  .card-field {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    height: 3rem;
    cursor: pointer;

    label {
      display: block;
      font-weight: bold;
      line-height: 200%;
      width: 5rem;
      color: gray;
    }

    .card-text {
      display: block;
      font-size: 1rem;
      padding: 8px;
      width: 100%;
      &:hover {
        background-color: #222;
      }
    }

    input {
      font-size: 1rem;
      padding: 8px;
      width: 100%;
      background-color: transparent;
      color: white;
      border: 1px solid #bbb;

      &.error {
        background-color: #633;
      }
    }
  }

  .card-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;

    button {
      padding: 0.5rem 1rem;
      border-radius: 4px;
      border: none;
      background-color: #ccc;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
}
